[submodule "plugin/Xcode-Snippets"]
	path = plugin/Xcode-Snippets
	url = https://github.com/mattt/Xcode-Snippets.git
[submodule "plugin/SCXcodeMiniMap"]
	path = plugin/SCXcodeMiniMap
	url = https://github.com/stefanceriu/SCXcodeMiniMap.git
[submodule "plugin/FuzzyAutocompletePlugin"]
	path = plugin/FuzzyAutocompletePlugin
	url = https://github.com/FuzzyAutocomplete/FuzzyAutocompletePlugin.git
[submodule "plugin/xctool"]
	path = plugin/xctool
	url = https://github.com/facebook/xctool.git
